nav{
    background-color: #d88af0;
  }
  .flarge{
    font-size: 25px;
  }
  
  @media screen and (width>991px) {
    #navbarNavDropdown{
     justify-content: center;
    }
  }
 
button{
  border-radius: 10px;
}

.heading{
  text-decoration: underline;
  text-decoration: bold;
}

.ml{
  margin-right: 1rem !important;
}