nav{
    box-shadow: 1px 2px 13px 2px black;
}
.flarge{
    font-size: 25px;
  }
  
  @media screen and (width>991px) {
    #navbarNavDropdown{
     justify-content: center;
    }

  }
 
button{
  border-radius: 10px;
}

.heading{
  text-decoration: underline;
  text-decoration: bold;
}

.ml{
  margin-right: 1rem !important;
  margin-top: 8px;
}